//color

$black: #000;
$white: #fff;
$green: #54d154;
$darkgreen: #3eba3e;
$gray: #828181;
$lightgray: #b7b3b3;
$darkgray: #5d5d5d;
$client-bg: #f2f1f1;
$orange: #ffba00;
$blue: #089dea;
$red: #f34d04;
$footer-bg: #333333;
$footer-bg2: #222222;

//sizes

$view-port: 1108px;